.pure-g
  .pure-u-1-3
  .pure-u-1-3
    = simple_form_for @user, html: { class: 'pure-form pure-form-stacked' } do |f|
      .pure-control-group
        = f.input :email, input_html: { class: 'pure-input-1' }
      .pure-control-group
        = f.input :password, input_html: { class: 'pure-input-1' }
      .pure-control-group
        = f.input :password_confirmation, input_html: { class: 'pure-input-1' }

      .pure-control-group.m-p-15
        = f.submit 'Sign Up', class: 'pure-button pure-input-1 pure-button-primary'


