%header
  %nav.pure-menu.pure-menu-horizontal
    = link_to 'Home', root_url, class: 'pure-menu-heading pure-menu-link float-left'

    %ul.pure-menu-list.float-left
      %li.pure-menu-item
        = link_to 'Rooms', rooms_path, class: 'pure-menu-link'

    %ul.pure-menu-list.float-right.m-r-15
      - if logged_in?
        %li.pure-menu-item
          = link_to 'Create Room', new_room_path, class: 'pure-button pure-button-primary'
        %li.pure-menu-item
          = link_to 'Profile', :profile, class: 'pure-button'
        %li.pure-menu-item
          = link_to 'Logout', :logout, method: :post, class: 'pure-button pure-button-primary'

      - else
        %li.pure-menu-item
          = link_to 'Sign in', :sign_in, class: 'pure-menu-link'
        %li.pure-menu-item
          = link_to 'Registration', :sign_up, class: 'pure-button pure-button-primary'
