!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chatroom
    = csrf_meta_tags
    = action_cable_meta_tag
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    -# TODO: move to vue_templaes
    = render "messages/message_tpl"
    = render "messages/message_form_tpl"
    = render "messages/message_box_tpl"

    = render "members/member_tpl"
    = render "members/member_box_tpl"

    .pure-g
      .pure-u-1.main-nav-menu
        = render 'layouts/header'

    .pure-g
      .pure-u-5-5
        = yield

    = render 'layouts/footer'
